#game {
	width: 312px;
	border: 1px solid #cf1a1a;
	margin: 0 auto;
	font-size: 0;
}
.cell {
	width: 102px;
	height:82px;
	line-height: 50px;
	text-align: center;
	font-family: arial;
	display: inline-block;
	font-size: 52px;
	border: 1px solid #cf1a1a;
	cursor: pointer;
	vertical-align: middle;
	transition: background .1s;
	padding-top:20px;
}
.cell:hover {
	background: #eee;
}
#message {
	text-align: center
}
#restart {
	margin: 0 auto;
	display: block;
}
#statistics {
	position: absolute;
	right: 10px;
	top: 10px;
	border: 1px solid;
	padding: 0 20px;
	display: inline-block;
}