body{
	display:block;
}
.task{
	margin:auto;
	margin-top:10px;
	width:600px;
	height: 220px;
	border: 1px solid #000;
}
.task p{
	position: relative;
	left:15px;
}

h1{
	display: inline-block;
}
h2{
	display: inline-block;
}
h3{
	display: inline-block;
}
h4{
	display: inline-block;
}

#task1 div div p{
	color:red;
}

#task2 p h3{
	display: inline-block;
}

.www10{
	color:red;
}

#task15{
	height: 250px;
}

#task19{
	height: 250px;
}

#task21{
	height: 310px;
}
#task22{
	height: 300px;
}

#task23{
	height: 300px;
}

#task24{
	height: 300px;
}

#task25{
	height: 300px;
}


#task27{
	height: 300px;
}

#task28{
	height: 300px;
}

#task29{
	height: 300px;
}

#task30{
	height: 300px;
}

.www26{
	cursor:pointer;
}
.www27{
	cursor:pointer;
}
.www28{
	cursor:pointer;
}

.www29{
	cursor:pointer;
}

.www30{
	cursor:pointer;
}